.formValidation {
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  color: #fff;
  font-size: 15px;

  &.error {
    background-color: #ed474a;
  }

  &.success {
    background-color: #4caf50;
  }
}
