@import '../../styles/variables.css';

.ContentHeader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  margin-bottom: 16px;
  width: 100%;
}

.Label {
  color: var(--primary-color);
  font-size: 33px;
  font-weight: 600;
  line-height: 34px;
  margin-bottom: 16px;
}

.Content {
  color: var(--primary-color);
  font-size: var(--primary-size);
  font-weight: 400;
  line-height: 19px;
}
