@import "../../styles/common.scss";

.contentHeader {
  .label {
    color: $primaryColor;
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
    margin-bottom: 16px;
  }

  .content {
    color: $secondaryColor;
    font-size: $primarySize;
    font-weight: 400;
    line-height: 19px;
  }

  margin-bottom: 16px;
}
