@import '../../styles/variables.css';

.ContentHeader {
  margin-bottom: 16px;
}

.Label {
  color: var(--primary-color);
  font-size: 33px;
  font-weight: 600;
  line-height: 34px;
  margin-bottom: 16px;
}

.Content {
  color: var(--secondary-color);
  font-size: var(--primary-size);
  font-weight: 400;
  line-height: 19px;
}
