@import '../../styles/variables.css';

.signInForm {
  .resetPasswordLink {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 29px;

    a {
      color: var(--primary-color);
    }
  }

  padding-bottom: 25px;
}

.fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.fieldsetLegend {
  display: none;
}

.EmailInput {
  margin-bottom: 25px;
}

.PasswordInput {
  margin-bottom: 5px;
}
