@import '../../styles/variables.css';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.logoutButton {
  margin-top: 20px;
}

.lottie {
  border-radius: 2rem;
  overflow: hidden;
}
