@import '../../styles/variables.css';

.passwordCriteria {
  position: absolute;
  width: 100%;
  z-index: 1000;
  top: 73px;
  background: #242b2d;
  border: 1px solid #303336;
  border-radius: 5px;
  padding: 10px;

  .label {
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 7px;
  }

  .content {
    list-style-type: none;
    padding: 0;

    .criteria {
      color: #c9cacb;
      font-size: 12px;
      font-weight: 400;

      &.met {
        text-decoration: line-through;
        color: #474a4d;
      }
    }
  }
}
