@import '../../styles/variables.css';

.dropDown {
  display: inline-block;

  ul.dropdownOptions {
    list-style-type: none;
    background: var(--primary-background);
    border: 1px solid #666666;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    width: 380px;
    height: 154px;
    z-index: 10;
    position: absolute;
    top: 22px;
    padding: 9px;

    .dropdownOption {
      padding: 8px;
      margin-bottom: 9px;

      .label {
        color: #f5f5f5;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        margin-bottom: 1px;
      }

      .description {
        color: #c9cacb;
        font-size: 16px;
        font-weight: 400;
      }

      &:hover {
        background: #303336;
        border-radius: 6px;
      }
    }
  }
}
