@import '../../styles/variables.css';

.emailInput {
  .errorDescription {
    margin-top: 6px;
    font-size: 12px;
    color: var(--error-color);
  }

  .userTypeContainer {
    position: relative;

    .dropdown {
      position: absolute;
      top: -27px;
      right: 37px;
    }
  }

  .closeIconContainer {
    position: relative;

    .closeIcon {
      position: absolute;
      right: -17px;
      bottom: 6px;
      width: 14px;
      cursor: pointer;

      path {
        stroke: #a3a3a3;
      }
    }
  }
}
