@import '../../styles/variables.css';

.passwordInput {
  position: relative;

  .showPasswordButton,
  .showPasswordIcon {
    position: absolute;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
  }

  .closePasswordIcon {
    right: 25px;
  }

  .showPasswordButton.showPasswordButton {
    top: 61px;
    right: 20px;
    z-index: 10;

    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    box-shadow: none;
    text-align: center;
    font-family: inherit;
    color: inherit;
    background: none;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }
}
