@import '../../styles/variables.css';

.passwordInput {
  margin-bottom: 21px;
  position: relative;

  .showPassword {
    position: relative;

    @media (min-width: 576px) {
      top: -32px;
      left: 464px;

      &.error {
        top: -59px;
      }
    }

    @media (max-width: 576px) {
      position: absolute;
      top: 41px;
      right: 2%;
    }

    svg {
      cursor: pointer;
    }
  }

  .errorDescription {
    margin-top: -18px;
    font-size: 12px;
    color: $errorColor;
  }
}
