@import '../../styles/variables.css';

.passwordInput {
  position: relative;

  .showPasswordButton,
  .showPasswordIcon {
    position: absolute;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
  }

  .showPasswordButton.showPasswordButton {
    top: 52px;
    right: 12px;
    z-index: 10;

    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    box-shadow: none;
    text-align: center;
    font-family: inherit;
    color: inherit;
    background: none;
  }
}
