@import '../../styles/variables.css';

.textInput {
  color: var(--primary-color);
  line-height: 21px;

  .label {
    display: block;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 12px;
  }

  .input {
    outline: none;
    background: transparent;
    border: 1px solid #535658;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 15px;
    font-weight: 400;
    color: var(--primary-color);
    width: 100%;

    &.validation {
      &.validationPrimary {
        border: 1px solid #559cfc;
      }

      &.validationDanger {
        border: 1px solid var(--error-color);
      }

      &.validationWarning {
        border: 1px solid #f58a07;
      }

      &:focus {
        border: 1px solid #559cfc;
      }
    }

    &:focus {
      border: 1px solid #559cfc;
    }
  }

  .input:focus + .validationDescription,
  .validationPrimary + .validationDescription {
    color: #559cfc;
  }

  .validationDanger + .validationDescription {
    color: var(--error-color);
  }

  .validationWarning + .validationDescription {
    color: #f58a07;
  }

  .validationDescription {
    margin-top: 6px;
    font-size: 12px;
    color: var(--error-color);
  }
}
