@import '../../styles/variables.css';

.textInput {
  color: var(--primary-color);
  line-height: 21px;

  .label {
    display: block;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 12px;
  }

  .input {
    outline: none;
    background: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 4rem;
    padding: 1rem;
    font-size: 15px;
    font-weight: 400;
    color: var(--primary-color);
    width: 100%;
    opacity: 0.7;

    &.validation {
      &.validationDanger {
        border: 2px solid var(--error-color);
      }

      &.validationWarning {
        border: 2px solid #f58a07;
      }
    }

    &:focus {
      opacity: 1;
    }
  }

  .validationDanger + .validationDescription {
    /* color: var(--error-color); */
  }

  .validationWarning + .validationDescription {
    color: #f58a07;
  }

  .validationDescription {
    margin-top: 6px;
    font-size: 14px;
    font-weight: 500;
    color: var(--error-color);
  }
}
