@import '../../styles/variables.css';

.textInput {
  color: var(--primary-color);
  line-height: 21px;

  .label {
    display: block;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 12px;
  }

  .input {
    outline: none;
    background: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 4rem;
    padding: 1rem;
    font-size: 15px;
    font-weight: 400;
    color: var(--primary-color);
    width: 100%;
    opacity: 0.7;

    &.validation {
      &.validationDanger {
        border: 2px solid var(--error-color);
      }

      &.validationWarning {
        border: 2px solid #f58a07;
      }
    }

    &:focus {
      opacity: 1;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px transparent inset;
      -webkit-text-fill-color: var(--primary-color);
      transition: background-color 5000s ease-in-out 0s;
    }
  }

  .validationWarning + .validationDescription {
    color: #f58a07;
  }

  .validationDescription {
    margin-top: 6px;
    font-size: 14px;
    font-weight: 500;
    color: var(--error-color);
  }
}
