:root {
  --primary-background: #171c1f;
  --primary-color: #f5f5f5;
  --secondary-color: #c9cacb;
  --error-color: #ed474a;
  --primary-size: 16px;
}

@custom-media --breakpoint-sm (min-width: 576px);
@custom-media --breakpoint-md (min-width: 768px);
@custom-media --breakpoint-lg (min-width: 992px);
@custom-media --breakpoint-xl (min-width: 1200px);
