@import './styles/variables.css';

.Layout {
  display: flex;
  justify-content: center;

  height: 100%;
  background-color: var(--primary-background);
  padding: 50px;
}

@media (min-width: 576px) {
  .Layout {
    > * {
      width: 490px;
    }
  }
}
